<?xml version='1.0' encoding='utf-8'?>
<widget id="com.retailcs.descuentosperu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">



     <name>Descuentos Perú</name>
    <description>
        Encuentre los mejores descuentos
    </description>
    <author email="devmobile@realcs.com" href="http://retailcs.com/">
        Retail Custom Solutions
    </author>
    <content src="index.html" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="2000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="Fullscreen" value="false" />
    <preference name="StatusBarBackgroundColor" value="#42C1C7" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon qualifier="ldpi" src="www/res/icon/android/36.png" />
        <icon qualifier="mdpi" src="www/res/icon/android/48.png" />
        <icon qualifier="hdpi" src="www/res/icon/android/72.png" />
        <icon qualifier="xhdpi" src="www/res/icon/android/96.png" />
        <icon qualifier="xxhdpi" src="www/res/icon/android/144.png" />
        <icon qualifier="xxxhdpi" src="www/res/icon/android/192.png" />
        <splash density="ldpi" src="www/res/screen/android/ldpi.png" />
        <splash density="mdpi" src="www/res/screen/android/mdpi.png" />
        <splash density="hdpi" src="www/res/screen/android/hdpi.png" />
        <splash density="xhdpi" src="www/res/screen/android/xhdpi.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/portrait-xxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="www/res/icon/ios/i57.png" width="57" />
        <icon height="72" src="www/res/icon/ios/i72.png" width="72" />
        <icon height="114" src="www/res/icon/ios/i114.png" width="114" />
        <icon height="144" src="www/res/icon/ios/i144.png" width="144" />
        <icon height="76" src="www/res/icon/ios/i76.png" width="76" />
        <icon height="120" src="www/res/icon/ios/i120.png" width="120" />
        <icon height="152" src="www/res/icon/ios/i152.png" width="152" />
        <splash height="480" src="www/res/screen/ios/Default.png" width="320" />
        <splash height="960" src="www/res/screen/ios/Default@2x.png" width="640" />
        <splash height="1136" src="www/res/screen/ios/Default-568h@2x.png" width="640" />
        <splash height="1334" src="www/res/screen/ios/Default-667h@2x.png" width="750" />
        <splash height="2208" src="www/res/screen/ios/Default-Portrait-736h@3x.png" width="1242" />
        <splash height="1024" src="www/res/screen/ios/Default-Portrait.png" width="768" />
        <splash height="2048" src="www/res/screen/ios/Default-Portrait@2x.png" width="1536" />
    </platform>




    <plugin name="cordova-plugin-facebook4" spec="https://github.com/jeduan/cordova-plugin-facebook4">
        <variable name="APP_ID" value="303371396671663" />
        <variable name="APP_NAME" value="Descuentos Perú" />
    </plugin>
</widget>
