
/*loader animation*/
.loader {
  position: absolute;
  z-index: -1050;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.69);
  opacity: 0;
  transition: all 0.23s;
  -webkit-transition: all 0.23s;
}
.loader.showLoader{
  z-index: 1050;
  opacity: 1;
  transition: all 0.23s;
  -webkit-transition: all 0.23s;
}
.loader.showLoader .loader-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: ajaxLoader 1.8s ease-in-out infinite;
  animation: ajaxLoader 1.8s ease-in-out infinite;
}

.loader.showLoader .loader-logo path {
  -webkit-animation: ajaxLoaderColors 1.8s ease-in-out infinite, ajaxLoaderDash 1.8s ease-in-out infinite;
  animation: ajaxLoaderColors 1.8s ease-in-out infinite, ajaxLoaderDash 1.8s ease-in-out infinite;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke: #fff;
  stroke-width: 19;
  fill: none;
}
@-webkit-keyframes ajaxLoader {
  0% {
    -webkit-transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0);
  }
}
@keyframes ajaxLoader {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes ajaxLoaderColors {
  0% {
    stroke: #42C1C7;
  }
  50% {
    stroke: #42C1C7;
  }
  75% {
    stroke: #E0E31C;
  }
  100% {
    stroke: #E0E31C;
  }
}
@keyframes ajaxLoaderColors {
  0% {
    stroke: #42C1C7;
  }
  45% {
    stroke: #42C1C7;
  }
  85% {
    stroke: #E0E31C;
  }
  100% {
    stroke: #E0E31C;
  }
}
@-webkit-keyframes ajaxLoaderDash {
  0% {
    stroke-dashoffset: 2000;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ajaxLoaderDash {
  0% {
    stroke-dashoffset: 2000;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}